# Server
DATABASE_URL=postgresql://user:password@localhost:5432/cocktail_home_bar
BETTER_AUTH_SECRET=your-secret-key-here

# Client
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000
