name: Deploy to Kubernetes

on:
  push:
    tags:
      - '*'

env:
  APP_NAME: "fe-home-bar"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and push Docker image

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          token: ${{ secrets.WORKFLOW_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ env.APP_NAME }}:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

  deploy:
    needs:
      - build
    runs-on: ubuntu-latest
    name: Deploy to Kubernetes

    steps:
    - name: Set up kubectl
      uses: azure/setup-kubectl@v3

    - name: Create kubeconfig directory
      run: |
        mkdir -p $HOME/.kube

    - name: Set up Kubeconfig
      run: echo "${{ secrets.KUBECONFIG }}" | base64 --decode > $HOME/.kube/config

    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/${{ env.APP_NAME }}-deployment ${{ env.APP_NAME }}=ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ env.APP_NAME }}:latest -n dev
